doctype html
html
  head
    meta(charset='UTF-8')
    //- meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/style.css')
    link(rel='shortcut icon', type='image/png', href='/starter-code/assets/favicon-32x32.png')
    // ICON USAGE
    script(type='module', src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(nomodule='', src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')

    title Movie App | #{title}
  body
    .container-home
      include _navbar

      .content-wrapper
        include _search

        main.trending
          h1.content-title Trending
          .trending__cards-wrapper

            each trend in trendings
              .card
                .overlay
                  // IF SOMEONE WANTS TO MAKE IT WORKABLE, THEN IT NEEDS TO BE CONVERTED INTO A BUTTON TAG
                  .play-btn
                    img(src='/starter-code/assets/icon-play.svg', alt='Overlay play icon')
                    span Play
                img.card__image(src=`/starter-code/assets/thumbnails/${trend.title.split(" ").join('-')}/trending/large.jpg`, alt='')
                // WILL BE CHANGED TO 'FILL' WHEN CLICKED USING JS
                button.bookmark-btn
                  svg(width='12', height='14', xmlns='http://www.w3.org/2000/svg')
                    path(d='m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z', stroke='#FFF', stroke-width='1.5', fill='none')
                .card__info
                  .info
                    span.year= trend.year
                    span.dot &bull;
                    span.span-category
                      svg.icon(width='12', height='12', xmlns='http://www.w3.org/2000/svg')
                        path(d='M10.173 0H1.827A1.827 1.827 0 0 0 0 1.827v8.346C0 11.183.818 12 1.827 12h8.346A1.827 1.827 0 0 0 12 10.173V1.827A1.827 1.827 0 0 0 10.173 0ZM2.4 5.4H1.2V4.2h1.2v1.2ZM1.2 6.6h1.2v1.2H1.2V6.6Zm9.6-1.2H9.6V4.2h1.2v1.2ZM9.6 6.6h1.2v1.2H9.6V6.6Zm1.2-4.956V2.4H9.6V1.2h.756a.444.444 0 0 1 .444.444ZM1.644 1.2H2.4v1.2H1.2v-.756a.444.444 0 0 1 .444-.444ZM1.2 10.356V9.6h1.2v1.2h-.756a.444.444 0 0 1-.444-.444Zm9.6 0a.444.444 0 0 1-.444.444H9.6V9.6h1.2v.756Z', fill='#FFF', opacity='.75')
                      span.category= trend.category
                    span.dot &bull;
                    span.rating= trend.rating
                  span.movie-title= trend.title

        
        main.general
          - const likedMovies = user.liked;
          if likedMovies.length > 0
            h1.content-title Recommended for you (liked)
            .cards-wrapper

              each movie in likedMovies
                .card
                  .overlay
                    // IF SOMEONE WANTS TO MAKE IT WORKABLE, THEN IT NEEDS TO BE CONVERTED INTO A BUTTON TAG
                    .play-btn
                      img(src='/starter-code/assets/icon-play.svg', alt='Overlay play icon')
                      span Play
                  img.card__image(src=`/starter-code/assets/thumbnails/${movie.title.split(" ").join('-')}/regular/large.jpg`, alt='')
                  // WILL BE CHANGED TO 'FILL' WHEN CLICKED USING JS
                  button.bookmark-btn
                    svg(width='12', height='14', xmlns='http://www.w3.org/2000/svg')
                      path(d='m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z', stroke='#FFF', stroke-width='1.5', fill='none')
                  .card__info
                    .info
                      span.year= movie.year
                      span.dot &bull;
                      span.span-category
                        svg.icon(width='12', height='12', xmlns='http://www.w3.org/2000/svg')
                          path(d='M10.173 0H1.827A1.827 1.827 0 0 0 0 1.827v8.346C0 11.183.818 12 1.827 12h8.346A1.827 1.827 0 0 0 12 10.173V1.827A1.827 1.827 0 0 0 10.173 0ZM2.4 5.4H1.2V4.2h1.2v1.2ZM1.2 6.6h1.2v1.2H1.2V6.6Zm9.6-1.2H9.6V4.2h1.2v1.2ZM9.6 6.6h1.2v1.2H9.6V6.6Zm1.2-4.956V2.4H9.6V1.2h.756a.444.444 0 0 1 .444.444ZM1.644 1.2H2.4v1.2H1.2v-.756a.444.444 0 0 1 .444-.444ZM1.2 10.356V9.6h1.2v1.2h-.756a.444.444 0 0 1-.444-.444Zm9.6 0a.444.444 0 0 1-.444.444H9.6V9.6h1.2v.756Z', fill='#FFF', opacity='.75')
                        span.category= movie.category
                      span.dot &bull;
                      span.rating= movie.rating
                    span.movie-title= movie.title
          else
            h1.content-title You don't have any movies liked yet

    script(src="/js/bundle.js")