extend base

block content
  main.general
    if movies.length > 0
      h1.content-title Bookmarked Movies
      .cards-wrapper
        each movie in movies
          .card
            .overlay
              // IF SOMEONE WANTS TO MAKE IT WORKABLE, THEN IT NEEDS TO BE CONVERTED INTO A BUTTON TAG
              .play-btn
                img(src='/starter-code/assets/icon-play.svg', alt='Overlay play icon')
                span Play
            img.card__image(src=`/starter-code/assets/thumbnails/${movie.title.split(" ").join('-')}/regular/large.jpg`, alt='')
            // WILL BE CHANGED TO 'FILL' WHEN CLICKED USING JS
            button.bookmark-btn(data-id=`${movie._id}`)
              // THIS IS FOR BOOKMARKED FRONT END RENDERING
              if bookmarkIDs.includes(`${movie._id}`)
                svg(width="12" height="14" xmlns="http://www.w3.org/2000/svg")
                  path#bookmarkSVG(d='m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z', stroke='#FFF', stroke-width='1.5', fill='#FFF')
              else 
                svg(width='12', height='14', xmlns='http://www.w3.org/2000/svg')
                  path#bookmarkSVG(d='m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z', stroke='#FFF', stroke-width='1.5', fill='none')
            
            button.like-btn(data-id=`${movie._id}`)
              if likedIDs.includes(`${movie._id}`)
                svg(width="15" height="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512")
                  path#likedSVG(d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z" stroke="#ffc0cb" stroke-width="20" fill="#ffc0cb")
              else 
                svg(width="15" height="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512")
                  path#likedSVG(d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z" stroke="#ffc0cb" stroke-width="20" fill="none")

            
            .card__info
              .info
                span.year= movie.year
                span.dot &bull;
                span.span-category
                  svg.icon(width='12', height='12', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10.173 0H1.827A1.827 1.827 0 0 0 0 1.827v8.346C0 11.183.818 12 1.827 12h8.346A1.827 1.827 0 0 0 12 10.173V1.827A1.827 1.827 0 0 0 10.173 0ZM2.4 5.4H1.2V4.2h1.2v1.2ZM1.2 6.6h1.2v1.2H1.2V6.6Zm9.6-1.2H9.6V4.2h1.2v1.2ZM9.6 6.6h1.2v1.2H9.6V6.6Zm1.2-4.956V2.4H9.6V1.2h.756a.444.444 0 0 1 .444.444ZM1.644 1.2H2.4v1.2H1.2v-.756a.444.444 0 0 1 .444-.444ZM1.2 10.356V9.6h1.2v1.2h-.756a.444.444 0 0 1-.444-.444Zm9.6 0a.444.444 0 0 1-.444.444H9.6V9.6h1.2v.756Z', fill='#FFF', opacity='.75')
                  span.category= movie.category
                span.dot &bull;
                span.rating= movie.rating
              span.movie-title= movie.title
    else 
      h1.content-title There are no bookmarked movies yet

    main.general
    if tvs.length > 0
      h1.content-title Bookmarked TV Series
      .cards-wrapper
        each tv in tvs
          .card
            .overlay
              // IF SOMEONE WANTS TO MAKE IT WORKABLE, THEN IT NEEDS TO BE CONVERTED INTO A BUTTON TAG
              .play-btn
                img(src='/starter-code/assets/icon-play.svg', alt='Overlay play icon')
                span Play
            img.card__image(src=`/starter-code/assets/thumbnails/${tv.title.split(" ").join('-')}/regular/large.jpg`, alt='')
            // WILL BE CHANGED TO 'FILL' WHEN CLICKED USING JS
            button.bookmark-btn(data-id=`${tv._id}`)
              if bookmarkIDs.includes(`${tv._id}`)
                svg(width="12" height="14" xmlns="http://www.w3.org/2000/svg")
                  path#bookmarkSVG(d='m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z', stroke='#FFF', stroke-width='1.5', fill='#FFF')
              else 
                svg(width='12', height='14', xmlns='http://www.w3.org/2000/svg')
                  path#bookmarkSVG(d='m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z', stroke='#FFF', stroke-width='1.5', fill='none')
            
            button.like-btn(data-id=`${tv._id}`)
              if likedIDs.includes(`${tv._id}`)
                svg(width="15" height="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512")
                  path#likedSVG(d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z" stroke="#ffc0cb" stroke-width="20" fill="#ffc0cb")
              else 
                svg(width="15" height="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512")
                  path#likedSVG(d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z" stroke="#ffc0cb" stroke-width="20" fill="none")

            
            .card__info
              .info
                span.year= tv.year
                span.dot &bull;
                span.span-category
                  svg.icon(width='12', height='12', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10.173 0H1.827A1.827 1.827 0 0 0 0 1.827v8.346C0 11.183.818 12 1.827 12h8.346A1.827 1.827 0 0 0 12 10.173V1.827A1.827 1.827 0 0 0 10.173 0ZM2.4 5.4H1.2V4.2h1.2v1.2ZM1.2 6.6h1.2v1.2H1.2V6.6Zm9.6-1.2H9.6V4.2h1.2v1.2ZM9.6 6.6h1.2v1.2H9.6V6.6Zm1.2-4.956V2.4H9.6V1.2h.756a.444.444 0 0 1 .444.444ZM1.644 1.2H2.4v1.2H1.2v-.756a.444.444 0 0 1 .444-.444ZM1.2 10.356V9.6h1.2v1.2h-.756a.444.444 0 0 1-.444-.444Zm9.6 0a.444.444 0 0 1-.444.444H9.6V9.6h1.2v.756Z', fill='#FFF', opacity='.75')
                  span.category= tv.category
                span.dot &bull;
                span.rating= tv.rating
              span.movie-title= tv.title
    else 
      h1.content-title There are no bookmarked tv series yet